.card,.card2{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-theme-color);
    border-radius: 8px;
    gap: 0.3rem;
    padding-top: 2px;
    box-shadow: var(--primary-box-shadow);
}

.card2:hover{
    cursor: pointer;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;}

.card2{
    transition: 0.2s ease-in-out;

    position: static;
    width: min(100%,20rem);
}

.image_wrapper{
    max-height: 40rem;
}



.card_footer{
    display: flex;
    width: 100%;
    flex-direction: column;
    border-radius: inherit;
    padding: 0.4rem;
    gap:0.3rem;
}






