.container{
    display: flex;
    justify-content: center;
    grid-gap: 10px;
    width: 100%;
    padding: 4px;
    margin-top: 30px;
    animation: 0.7s fadein ease-in-out;
}

.skeleton_container{
    display: flex;
    justify-content: center;
    grid-gap: 10px;
    width: 100%;
    padding: 4px;
    margin-top: 30px;
}

.no_bg{
    overflow: hidden;
    position: relative;
    background-color: var(--secondary-theme-lighter);
    border-radius: 4px;
}

.no_bg::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 5px;
    background-color: #1971c2;
}

.no_padding{
    padding: 0;
}

.checkout_form{
    width: 70%;
    max-width: 30rem;
    padding: 10px ;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    background-color: transparent;
    color: var(--primary-text-color);
    font-size: 14px;
}



.small_container{
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
    gap: 1rem;
    
}

.info_wrapper{
    display: flex;
    align-items: center;
    flex-direction: row ;
    gap: 1rem;
}


.confirm_price{
    display: flex;
    justify-content: space-between !important;
    width: 100%;
    padding: 5px;
}

.confirm_price:last-child{
    border-top: solid 2px var(--secondary-theme-lighter);
}

.product{
    margin-bottom: 10px;
}



@media screen and (max-width:820px) {
    .container,.skeleton_container{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .checkout_form{
        width: 100%;
        margin-top: 15px;
    }
}

@media screen and (max-width:450px) {
    .info_wrapper{
        flex-direction: column;
    }
}

@keyframes fadein {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}