.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 4px;
    gap: 10px;
}

.checkout_form{
    width: 40%;
    height: 100%;
}

.steps_header{
    border-bottom: 2px solid var(--primary-theme-color);
}

.small_container{
    padding: 15px 10px;
    gap: 1rem;
    box-shadow: var(--primary-box-shadow);
}

.info_wrapper{
    align-items: center;
    flex-direction: row ;
    gap: 2rem;
}

@media screen and (max-width:820px) {
    .container{
        flex-direction: column;
    }
    .checkout_form{
        width: 100%;
    }
}

@media screen and (max-width:450px) {
    .info_wrapper{
        flex-direction: column;
    }
}