.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 4px;
    gap: 2rem;
}



.steps_header{
    border-bottom: 2px solid var(--primary-theme-color);
}

.small_container{
    padding: 7px;
    gap: 1rem;
    box-shadow: var(--primary-box-shadow);
}

.info_wrapper{
    width: auto;
    gap: 2rem;
}