.success_background{
    background-color: var(--success);
}

.success_color{
    color: var(--success);
}

.success_border{
    border: solid 1px var(--success);
}

.error_background{
    background-color: var(--error);
}

.error_color{
    color: var(--error);
}

.error_border{
    border: solid 1px var(--error) !important;
}

.error_shadow{
    box-shadow: var(--error) 0px 0px 0px 1.5px inset !important;
}

.error_shadow:focus-within{
    box-shadow: var(--error) 0px 0px 0px 2px inset !important;
}

.info_background{
    background-color: var(--info);
}

.info_color{
    color: var(--info);
}

.info_border{
    border: solid 1px var(--info);
}


.blue{
    background-color: #528ff0 !important;
    border:solid 2px #528ff0 !important;
}

.blue:hover{
    color:#528ff0 !important ;
    background-color: transparent !important;
}