.header_wrapper{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--header-height);
    width: 100%;
    background-color: var(  --secondary-theme-light);
    color: var(--primary-text-color);
    box-shadow: var(--primary-box-shadow);
    transition: all 0.7s ease-in-out;
    z-index: 150;
}

.light_wrapper{
    background-color: var(--secondary-theme-color);
    color:var(--primary-text-color);
    box-shadow: none;
}

.header{
    width: min(100%,105rem);
    height: 100%;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 100%;
    font-size: 10px;

}

.header_menu{
    width: 10%;
    z-index: 1000;
}

.header_ul{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_ul li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem;
}

.drawer_container{
    position: fixed;
    top: 0;
    left: 0;
    right:0 ;
    bottom: 0;
    z-index: 40;
    visibility: visible;
    background-color:rgb(46, 46, 46,0.5);
    transition: 0.7s ease-in-out;
}

.drawer_container_hidden{ 
    visibility:hidden;
    opacity: 0;
}

.drawer_wrapper{
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: var(--drawer-height);
    padding: 1rem 20px;
    background-color: var(--secondary-theme-color);
    color: var(--primary-text-color);
    box-shadow: var(--primary-box-shadow);
    transition: 0.7s ease-in-out;
    z-index: 100;
    overflow-y: scroll;
}

.drawer_hidden{
    top:-100%;
}

.drawer_header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.drawer_header h2{
    cursor: pointer;
}

.drawer{
    display: flex;
    flex-direction: column;
    width: 100%;
    display: grid;
    grid-row-gap: 3rem;
    grid-template-columns: auto auto auto;
    max-width: 103rem;
    padding: 0.3rem;
    margin-left: auto;
    margin-right: auto;
}

.drawer li{
    list-style: none;
    display: flex;
    align-items: center;

}

.drawer_groups{
    display: flex;
    flex-direction: column;
    width: 6rem;
}


.drawer_groups h4{
    margin-bottom: 4px;
}

.drawer_groups p{
    margin-top: 4px;
    cursor: pointer;
}


.bread{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 2.4rem;
    padding: 5px;
    color: var(--primary-text-color);
}

.bread div{
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
}

.bread div:hover{
    color: rgb(77, 77, 255);
    text-decoration: underline;
}




.footer{
    position: absolute;
    width: 100%;
    min-height: 40%;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    background-color: var(--secondary-theme-light);
    color: var(--primary-text-color);
    box-shadow: var(--primary-box-shadow);
}




@media screen and (max-width:560px) {
    .drawer{
        grid-template-columns: auto auto;
    }
}