.modal_wrapper{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.5rem;
    display: grid;
    place-items: center;
    background-color:rgb(46, 46, 46,0.7);
    overflow-y: scroll;
    opacity: 1;
    visibility: visible;
    z-index: 999;
    transition: 0.3s ease-in-out;
}

.modal_hidden{
    visibility: hidden;
    opacity: 0;
}

.modal_close{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 10px;
    top: 10px;
    color:var(--primary-text-color);
    font-size: 30px;
    transition: 0.1s ease-in-out;
    cursor: pointer;
}

.drawer{
    position: absolute;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 1rem 2rem;
    gap: 1rem;
    border-radius:  16px 16px 0 0;
    background-color: var(--primary-theme-color);
    color: var(--secondary-theme-color);
    animation: scroll 0.2s ease-in-out;
}

.toast{
    position: fixed;
    right: -100%;
    top: 6rem;
    min-width: 8rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: transparent;
    animation:toast-in 6s;
    z-index: 1000;
}

.button_group{
    width: 100%;
    max-width: 30rem;
    display: flex;
    justify-content: flex-start;
    gap: 8px;
}

.image_slider{
    width: 600px;
    height: 250px;
    transition: 0.3s ease-in-out;
}

.image_container{   
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 4px;

}

.modal_close:hover{
    background-color: var(--secondary-theme-lighter);
}

@keyframes scroll {
    0%{
        transform: translateY(100%);
    }
}

@keyframes toast-in {
    15%{
        right: 2rem;
    }

    85%{
        right: 2rem;
    }

    100%{
        right:-100%;
    }
}

