.wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%; 
    grid-gap: 1rem;
    padding: 0.3rem;

}

.image{
    height: 100%;
    width: 100%;
    display: flex;
    align-items:flex-start ;
    justify-content: center;
}

.details{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.7rem;
}

.details_header{
    font-size: 30px;
    font-weight: bold;
}

.details_price{
    font-size: 20px;
}





.image:empty{
    height: 95%;
    width: 90%;
}

.buttons_wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 90%;
    gap: 10px;
}


@keyframes oscillate {

    100%{
        background-position:-800% ;
    }
} 


@media screen and (max-width:650px) {
    .wrapper{
        display: flex;
        flex-direction: column;
    }
    .image:empty{
        width: 100%;
    }
    .buttons_wrapper{
        width: 100%;
    }
}

@media screen and (max-width:520px) {
    .buttons_wrapper{
        flex-direction: column;
    }
}

@media screen and (max-width:400px) {
    .image:empty{
        width: 100%;
    }
}