.wrapper{
    
    height: 35px;
    width: 35px;
    animation: spin linear 2s infinite;
}

.path,.light{
    stroke: var(--primary-theme-color);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}

.light{
    stroke: var(--secondary-theme-color);
}

.progress_modal{
  position: fixed;
  top: var(--header-height);
  left: 0;
  right: 0;
  bottom: 0;
  background-color:rgb(46, 46, 46,0.3);
  z-index: 999;
}

.progress_hidden{
  top: -4px;
  visibility: hidden;
}

.progress_active{
  visibility: visible;
  top: 0;
}

.progress_wrapper{
  position: fixed;
  left: 0;
  right: 0;
  z-index: 200;
  transition: 0.3s ease-in-out;
}

.progress {
    position: relative;
    height: 4px;
    display: block;
    width: 100%;
    background-color: var(--secondary-theme-lighter);
    border-radius: 2px;
    background-clip: padding-box;
    overflow: hidden; }
    .progress .indeterminate {
      background-color: var(--primary-color-light); }
      .progress .indeterminate:before {
        content: '';
        position: absolute;
        background-color: inherit;
        top: 0;
        left: 0;
        bottom: 0;
        will-change: left, right;
        -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
                animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite; }
      .progress .indeterminate:after {
        content: '';
        position: absolute;
        background-color: inherit;
        top: 0;
        left: 0;
        bottom: 0;
        will-change: left, right;
        -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
                animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
        -webkit-animation-delay: 1.15s;
                animation-delay: 1.15s; }
  
  @-webkit-keyframes indeterminate {
    0% {
      left: -35%;
      right: 100%; }
    60% {
      left: 100%;
      right: -90%; }
    100% {
      left: 100%;
      right: -90%; } }
  @keyframes indeterminate {
    0% {
      left: -35%;
      right: 100%; }
    60% {
      left: 100%;
      right: -90%; }
    100% {
      left: 100%;
      right: -90%; } }
  @-webkit-keyframes indeterminate-short {
    0% {
      left: -200%;
      right: 100%; }
    60% {
      left: 107%;
      right: -8%; }
    100% {
      left: 107%;
      right: -8%; } }
  @keyframes indeterminate-short {
    0% {
      left: -200%;
      right: 100%; }
    60% {
      left: 107%;
      right: -8%; }
    100% {
      left: 107%;
      right: -8%; } }


@keyframes spin {
    100%{
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
      }
      50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
      }
      100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
      }
}

@media screen and (max-width:500px) {

    .wrapper{
        height: 30px;
        width: 30px;
    }
}

@media screen and (max-width:350px) {
    .wrapper{
        height: 27px;
        width: 27px;
    }
}